arrow==1.4.0
asgiref==3.11.1
bfg==0.1.0
Django==6.0.6
django-environ==0.14.0
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
numpy==2.4.6
pandas==3.0.3
pillow==12.2.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
pytoml==0.1.21
PyYAML==6.0.3
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
waitress==3.0.2
